*{
    margin: 0%;
    padding: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header, footer{
    width: 100%;
    padding: 20px 0px;
    background-color: #B5C0D0;
    color: black;
    display: flex;
    justify-content: space-around;
}

footer{
    align-items: center;
    flex-direction: column;
}

header a{
    text-decoration: none;
    color: #F5E8DD;
}